body {
    background-color: rgb(177, 98, 46)
    margin: 100px;
  }
  
  header {
    background-color: rgba(212, 34, 117, 0.614);
    border: 3px solid rgb(61, 16, 121);
    height: 150px;
  }
  
  li {
    color: gray;
  }
  
  .lower {
    width: 30%;
    display: inline-block;
  }
  
  #punch {
    width: 50%;
    float: left;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul {
    text-decoration: none;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 50px;
  }
  
  h1 {
    float: left;
  }